@use 'fonts';
@use 'vars' as *;

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Typography variables
$line-height: 1.5;
$text-font-size: 1rem;
$text-font-color: rgb(20, 20, 20);
$default-bottom-margin: 20px;

$list-padding: 28px;
$list-indent: 30px;
$list-item-gap: 10px;

// Headings
$h1-size: $text-font-size * 2.00;
$h2-size: $text-font-size * 1.50;
$h3-size: $text-font-size * 1.25;
$h4-size: $text-font-size * 1.00;

$heading-top-margin: $default-bottom-margin + 10;
$heading-line-height: 1.3;

$h1-weight: 600;
$h2-weight: 600;
$h3-weight: 600;
$h4-weight: 600;

// Blockquote
$blockquote-bg: #f0f4f8;
$blockquote-indicator-color: #7fa0c3;
$blockquote-text-color: #2e3a46;


// Markdown container
#markdown-body {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;

  overflow-wrap: break-word;

  font-family: $font-primary;
  font-size: $text-font-size;
  color: $text-font-color;
  line-height: $line-height;

  background: $markdown-bg;
  // border: solid 1px rgba(189, 193, 198);
  // border-radius: 8px;
  // box-shadow: rgba(10, 10, 10, 0.1) 0 2px 4px -1px, rgba(10, 10, 10, 0.02) 0 0 0 1px;

  // Spacing for common blocks
  pre,
  p,
  table,
  h1, h2, h3, h4, h5, h6,
  blockquote,
  ul,
  ol,
  hr {
    margin-bottom: $default-bottom-margin;
  }

  // Headings
  h1, h2, h3, h4, h5, h6 {
    line-height: $heading-line-height;
    // margin-top: $heading-top-margin;
  }

  h1 {
    font-size: $h1-size;
    font-weight: $h1-weight;
  }

  h2 {
    font-size: $h2-size;
    font-weight: $h2-weight;
  }

  h3 {
    font-size: $h3-size;
    font-weight: $h3-weight;
  }

  h4,
  h5,
  h6 {
    font-size: $h4-size;
    font-weight: $h4-weight;
  }

  // Lists
  ul, ol {
    padding-left: $list-padding;
  }

  ul {
    list-style-type: disc;
  }

  li > ul,
  li > ol {
    padding-left: $list-indent;
  }

  li > p, li > ul, li > pre, li > blockquote {
    margin-top: $list-item-gap;
    margin-bottom: 0px;
  }

  li {
    margin-bottom: $list-item-gap;
  }

  li:last-child {
    margin-bottom: 0;
  }

  // Scrollable wrapper
  .md-table,.md-image {
    overflow-x: auto;
    max-width: 100%;
    margin-bottom: $default-bottom-margin;
    padding-bottom: 0.5px;
  }

  // Code blocks
  pre {
    display: block;
    padding: 8px;
    background: $code-bg;
    overflow-x: auto;
    font-size: 0.95rem;
    line-height: 1.45;
    // border-radius: 8px;
    border: 1px solid $code-border;

    &.highlight {
      border-left: 5px solid $code-highlight;
      padding-left: 5px;
    }

    &.copied {
      background-color: $code-copied-bg;
    }

    > code {
      color: $code-color;
    }
  }

  // For copy buttons on code blocks
  .code-wrapper {
    position: relative;
  }
  .copy-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;

    color: #d0d0d0;
    background: none;
    border: none;
    padding: 6px;
    margin: 0;
    line-height: 0;
    cursor: pointer;
    .svg {
      display: block;
    }
  }
  .code-wrapper:hover .copy-btn {
    opacity: 1;
    pointer-events: auto;
  }

  // Inline code
  code {
    color: $inline-code-color;
    font-family: $font-mono;
    font-variant-ligatures: none;
  }

  // Tables
  table {
    max-width: 100%;
    width: auto;
    display: inline;
    font-size: 0.95rem;
    background-color: transparent;
    border-collapse: collapse;
  }

  th,
  td {
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    padding: 0.4rem 0.8rem;
    border: 1px solid $markdown-table-border;
  }

  th {
    font-weight: 600;
    background-color: $markdown-table-header-bg;
  }

  tr:hover {
    background-color: #f9f9f9;
  }

  // Horizontal rule
  hr {
    border: none;
    border-top: solid 3px rgba(189, 193, 198, 0.2);
    margin: 2em 0;
  }

  // Blockquote
  blockquote {
    display: block;
    padding: 12px;
    margin-left: 20px;
    margin-right: 20px;
    background: $blockquote-bg;
    border-left: 5px solid $blockquote-indicator-color;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    color: $blockquote-text-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  // Links
  a {
    color: $link-color;
    text-decoration: none;

    &:visited,
    &:active {
      color: $link-color;
    }

    &:hover,
    &:focus {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }

  a code {
    color: inherit; // or $link-color, if you prefer explicit
    text-decoration: inherit; // optional, to carry underline on hover
  }
}
