@font-face {
  font-family: "Open Sans";
  src: url("/static/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/static/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/static/fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/static/fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#markdown-body {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-family: "Noto Sans", "Roboto", sans-serif;
  font-size: 1rem;
  color: rgb(20, 20, 20);
  line-height: 1.5;
  background: #fff;
}
#markdown-body pre,
#markdown-body p,
#markdown-body table,
#markdown-body h1, #markdown-body h2, #markdown-body h3, #markdown-body h4, #markdown-body h5, #markdown-body h6,
#markdown-body blockquote,
#markdown-body ul,
#markdown-body ol,
#markdown-body hr {
  margin-bottom: 20px;
}
#markdown-body h1, #markdown-body h2, #markdown-body h3, #markdown-body h4, #markdown-body h5, #markdown-body h6 {
  line-height: 1.3;
}
#markdown-body h1 {
  font-size: 2rem;
  font-weight: 600;
}
#markdown-body h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
#markdown-body h3 {
  font-size: 1.25rem;
  font-weight: 600;
}
#markdown-body h4,
#markdown-body h5,
#markdown-body h6 {
  font-size: 1rem;
  font-weight: 600;
}
#markdown-body ul, #markdown-body ol {
  padding-left: 28px;
}
#markdown-body ul {
  list-style-type: disc;
}
#markdown-body li > ul,
#markdown-body li > ol {
  padding-left: 30px;
}
#markdown-body li > p, #markdown-body li > ul, #markdown-body li > pre, #markdown-body li > blockquote {
  margin-top: 10px;
  margin-bottom: 0px;
}
#markdown-body li {
  margin-bottom: 10px;
}
#markdown-body li:last-child {
  margin-bottom: 0;
}
#markdown-body .md-table, #markdown-body .md-image {
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 20px;
  padding-bottom: 0.5px;
}
#markdown-body pre {
  display: block;
  margin-top: 4px;
  padding: 6px 8px;
  background: #f5f7fa;
  overflow-x: auto;
  font-size: 0.95rem;
  line-height: 1.45;
  border-radius: 4px;
  border: 1px solid #D3D5D6;
}
#markdown-body pre.highlight {
  border-left: 5px solid #ccc;
  padding-left: 5px;
}
#markdown-body pre.copied {
  background-color: #EBEDF2;
}
#markdown-body pre > code {
  color: #252b33;
}
#markdown-body .code-wrapper {
  position: relative;
}
#markdown-body .copy-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  color: #d0d0d0;
  background: none;
  border: none;
  padding: 6px;
  margin: 0;
  line-height: 0;
  cursor: pointer;
}
#markdown-body .copy-btn .svg {
  display: block;
}
#markdown-body .code-wrapper:hover .copy-btn {
  opacity: 1;
  pointer-events: auto;
}
#markdown-body code {
  color: #A90D91;
  font-family: "JetBrains Mono", monospace;
  font-variant-ligatures: none;
}
#markdown-body table {
  max-width: 100%;
  width: auto;
  display: inline;
  font-size: 0.95rem;
  background-color: transparent;
  border-collapse: collapse;
}
#markdown-body th,
#markdown-body td {
  white-space: nowrap;
  text-align: left;
  vertical-align: top;
  padding: 0.4rem 0.8rem;
  border: 1px solid #dbd9d5;
}
#markdown-body th {
  font-weight: 600;
  background-color: #f6f8fa;
}
#markdown-body tr:hover {
  background-color: #f9f9f9;
}
#markdown-body hr {
  border: none;
  border-top: solid 3px rgba(189, 193, 198, 0.2);
  margin: 2em 0;
}
#markdown-body blockquote {
  display: block;
  padding: 12px;
  margin-left: 20px;
  margin-right: 20px;
  background: #f0f4f8;
  border-left: 5px solid #7fa0c3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  color: #2e3a46;
}
#markdown-body blockquote > :first-child {
  margin-top: 0;
}
#markdown-body blockquote > :last-child {
  margin-bottom: 0;
}
#markdown-body a {
  color: #2C6CCF;
  text-decoration: none;
}
#markdown-body a:visited, #markdown-body a:active {
  color: #2C6CCF;
}
#markdown-body a:hover, #markdown-body a:focus {
  color: #2C6CCF;
  text-decoration: underline;
}
#markdown-body a code {
  color: inherit;
  text-decoration: inherit;
}
